.indicator-container {
  position: relative;
  border-radius: 12px;
  background-color: #ececec;
}

.indicator {
  position: absolute;
  height: 48px;
  bottom: 0;
  width: 20%;
  border-radius: 12px;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #151a1f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 7px;
  font-size: 14px;
  left: 0;
}
.first-tab {
  transform: translateX(0);
  background-color: #010407;
}
.second-tab {
  transform: translateX(90%);
  background-color: #030c16;
}
.third-tab {
  transform: translateX(180%);
  background-color: #020a13;
}
.fourth-tab {
  transform: translateX(270%);
  background-color: #020a13;
}
.fifth-tab {
  transform: translateX(356%);
  background-color: #020a13;
}
